<form [formGroup]="formGroup" (ngSubmit)="create($event)" class="wrapper">
    <label for="name">Name:</label>
    <input type="text" id="name" formControlName="name">
    
    <label for="city">City:</label>
    <input type="text" id="city" formControlName="city">
    
    <label for="state">State:</label>
    <input type="text" id="state" formControlName="state">
    
    <label for="availableUnits">Available Units:</label>
    <input type="number" id="availableUnits" formControlName="availableUnits">
    
    <label for="wifi">WiFi:</label>
    <input type="checkbox" id="wifi" formControlName="wifi">
    
    <label for="laundry">Laundry:</label>
    <input type="checkbox" id="laundry" formControlName="laundry">

    <button type="submit">Create</button>

    
  </form>
  